html, body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard','Noto Sans KR',sans-serif;
}

/*body {*/
/*    font-family: 'helvetica neue';*/
/*    font-weight: 200;*/
/*    font-size: 20px;*/
/*    background-color: !*white;*! #f4f4f4;*/
/*}*/

.header {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #ccc;
    background-color: #000080;
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    box-shadow :0 6px 6px -6px rgba(0,0,0,.4);
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 120px;
}

.top_menu > li{
    margin: 0;
    padding: 0;
    border : 0;
    float: left;
}
.top_menu{
    margin-right: 10px;
    margin-top: 26px;
    display:inline-block;
    list-style: none;
    float: right;
}
.log_list{
    display: inline-block;
    margin-right: 5px;
}
.logo {
    width: 200px;
    height: 120px;
    float: left;
}
.navtitle{
    display: inline-block;
}

.navtitle>h2{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 0px;

}
.navtitle>h2>a{
    text-decoration: none;
    color: white;
}
button.navBtn{
    display: inline-block;
    width: 68px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-family: 'Pretendard','Noto Sans KR',sans-serif;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    color: #87949a;
    text-align: center;
    margin-top: 4px;
    margin-right: 20px;
}
.user-name{
    display: inline-block;
    font-weight: 700;
    font-size: 28px;
    color:red;
}
.user-name1{
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    margin-right: 15px;
    color:white;
}
.navBtn2{
    display: inline-block;
    width: 88px;
    /*height: 30px;*/
    line-height: 28px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    font-family: 'Pretendard','Noto Sans KR',sans-serif;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    color: #87949a;
    text-align: center;
    margin-top: 4px;
    margin-right: 20px;
}
.main {
    width: 100%;
    height: 750px;
    min-height: 100%;
}

.img_box {
    width: 800px;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 660px;
}
.dictate {
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: #444;
    font-size: 1.25rem;
    margin-right: 5px;
    outline: none;
    width: 4rem;
    min-width: 3rem;
    height: 4rem;
    transition: background-color, color;
    transition-duration: .25s;
    box-shadow: 0 0 2rem #0000;
}

button:hover {
    background: #eee;
}
.cancel_btn:hover{
    background: #87949a;
}

i {
    font-family: 'ic-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-mike:before {
    content: "\e900";
}


@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}


p {
    margin: 0 0 3rem;
}

.search {
    padding-top: 20px;
    width: 90%;
    max-width: 40rem;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

.input-bar {
    align-items: center;
    background: #fff;
    border: 2px solid #0000;
    border-radius: 4rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem -1.5rem #0005;
    display: inline-flex;
    height: 5rem;
    overflow: hidden;
    transition: box-shadow .5s;
    width: 100%;
}

.input-bar>input {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    flex: 1;
    font-size: 1.25rem;
    margin-left: .5rem;
    min-width: 8rem;
    outline: none;
    padding-left: 1rem;

}

.dictate.on {
    background: #000;
}

.dictate.on svg {
    display: block;
    margin: auto;
}

.dictate.on .ic-mike {
    display: none;
}

.dictate svg {
    display: none;
}

.btn_img{
    width: 60px;
    height: 4rem;
    margin-left: -3.5px;
}
