#username, #password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.log_btn {
    background-color: #3671c8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.log_btn:hover {
    opacity: 0.8;
}

.cancel_btn , .register_btn{
    margin-left: 18px;
    width: auto;
    padding: 10px 18px;
    background-color: #2ab4ff;
}
.register_btn{
    float:right;
    margin-right:18px;
}
.container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar{
    width: 50%;
    border-radius: 20%;
}

.login_container {
    padding: 16px;
}

span.psw {
    float: right;
    line-height: 2;
    margin-right: 18px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    /*padding-top: 20px;*/
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel_btn {
        width: 100%;
    }
}