html, body {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard','Noto Sans KR',sans-serif;
}

.logo {
    width: 200px;
    height: 110px;
    float: left;
}
.title-api{
    margin-bottom: 20px;
    display: inline-block;
}
nav{
    width: 100%;
    height: 110px;
    background-color: #000080;
}
#body_content{
    width: 100%;
    height:auto;
    padding-top: 60px;
}
.navbar_logo {
    border-bottom: 2px solid #c2c2c2;
    width: 30%;
    height: 100%;
    display: inline-block;
}
.nav_title > a {
    color: white;
    font-size: 25px;
    position: relative;
    font-weight: bold;
    /*margin: 40px 0 0 40px;*/
    line-height:120px;
    text-decoration: none;
}

table {
    border-spacing: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #cecbcb;
    margin-bottom: 10px;
}
td {
    border-spacing: 0px;
    border-style: none;
    padding: 0px;
}
tr> .dataset-table, td{
    border: 1px solid #cecbcb;
}
.input_data{
    margin-left: 10px;
}

.body_content{
    width: 100%;
    height: 100%;
}
.title-area{
    margin: auto;
    width: 80%;
    height: auto;
}
.title-area > p{
    margin-left: 10px;
}
.original_site {
    font-size: 0.8rem;
    text-align: right;
    margin-left: 2px;
    padding: 5px;
    border: 1px solid #5b5b85;
}
a> .original_site:hover{
    background-color: #494848;
    color: white;
    /*font-weight: bold;*/
    border: none;
}
.api-info{
    margin-top: 200px;
}
.input_form{
    margin: auto;
    width: 80%;
    height: auto;
}
.meta-dataset-table{
    display:none;
    width: 90%;
    margin: auto;
}
.api-dataset-table{
    border: 1px solid #cecbcb;
    /*border-spacing: ;*/
    width: 100%;
    height: 500px;
}
.dataset-title,.dataset-content{
    /*background-color: chartreuse;*/
    position:relative;
    margin:auto;
    width: 80%;
    height: 100px;
}

.title-area{
    border-top: 3px solid #5b5b85;
    border-bottom: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    display: inline-block;
    margin: auto;
    width: 80%;
    min-height: 110px;
    height: auto;
}
.title-area>img{
    margin:5px;
}
.title-area>p{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}
.api-down{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 5px;
}
.meta-dataset-info{
    position: relative;
    font-weight: bold;
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    margin-left: 14px;
    margin-top: 7px;

}
.meta-dataset-info>span:hover{
    cursor: pointer;
    font-weight: bold;
    color: black;
}
.meta-dataset-info>span{
    color: #6b6b6b;
}

button {
    overflow: hidden;
    display: inline-block;
    min-width: 110px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    line-height: 37px;
    color: #fff;
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    letter-spacing: -0.05em;
    border: 1px solid darkgray;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    background-color: skyblue;
}
.api-down>button:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: black;
}
.error-ms{
    margin-top: 40px;
}
.input_content {
    background-color: #f5f5f5;
    padding-left: 10px;
    border: 1px solid black;
}
.mapping_api{
    margin-top: 50px;
}
.input_submit {
    overflow: hidden;
    display: inline-block;
    min-width: 45px;
    height: 35px;
    margin: 0;
    padding: 0 20px;
    line-height: 37px;
    color: #fff;
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    border: 1px solid darkgray;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: darkgray;
}


.dataset-table{
    width: 300px;
    padding: 11px 12px;
    color: #333;
    /*font-weight: 700;*/
    text-align: left;
    border: none;
}
.box {
    background-color: #f5f5f5;
    padding: 15px;
}

.btn1 {
    color: #fff;
    background-color: darkgray;
    border-color: darkgray;
}


.th {
    width: 230px;
    border: 1px solid #cecbcb;
    text-align: center;
    background-color: #faffe5;
}

.td {
    width: 800px;
    padding-left: 10px;
    overflow: hidden;
    border: 1px solid #cecbcb;
}
.img-copyright{
    float: left;
}
.blank {
    height: 50px;
}

.table_container {
    display: flex;

}

.span {
    color: red;
    font-weight: bold;
}


caption{
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    margin: 10px;
    font-weight: bold;
}
.api-down p{
    margin-right: 0.25vw;
    float:right;
}

.search {
    width: 90%;
    max-width: 40rem;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}

.input-bar{
    align-items: center;
    background: #fff;
    border: 2px solid #0000;
    border-radius: 4rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem -1.5rem #0005;
    display: inline-flex;
    height: 5rem;
    overflow: hidden;
    transition: box-shadow .5s;
    width: 100%;
}

.input-bar>input {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    flex: 1;
    font-size: 1.25rem;
    margin-left: .5rem;
    min-width: 8rem;
    outline: none;
    padding-left: 1rem;
    /*position: relative;*/
    /*z-index: 1;*/
}

.dictate.on {
    background: #000;
}

.dictate.on svg {
    display: block;
    margin: auto;
}

.dictate.on .ic-mike {
    display: none;
}

.dictate svg {
    display: none;
}

.btn_img{
    width: 60px;
    height: 4rem;
    margin-left: -3.5px;
}
.dictate {
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: #444;
    font-size: 1.25rem;
    margin-right: 5px;
    outline: none;
    width: 4rem;
    min-width: 3rem;
    height: 4rem;
    transition: background-color, color;
    transition-duration: .25s;
    box-shadow: 0 0 2rem #0000;
}

button:hover {
    background: #eee;
}

i {
    font-family: 'ic-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-mike:before {
    content: "\e900";
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}
