<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<main>
  <div class="header">
    <nav class="navbar">
      <div class="navbar_logo">
        <img class="logo" th:src="@{/logo.png}" alt="LOGO">
        <span class="nav_title" ><a href="/">애매한 프로젝트</a></span>
      </div>
    </nav>
  </div>
  <div class="container">
    <table>
      <thead>
      <tr>
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${list}">
          <td><a th:href="@{/jump/supportview(CId=${board.CId})}" th:text="${board.CId}"></a></td>
          <td><a th:href="@{/jump/supportview(CId=${board.CId})}" th:text="${board.cName}"></a></td>
          <td><a th:href="@{/jump/supportview(CId=${board.CId})}" th:text="${board.cTitle}"></a></td>
        </tr>
      </tbody>v
    </table>
  </div>
</main>

</body>
</html>