<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Speech Detection</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script>
        let modal = document.getElementById('id01');

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</head>
<body>
<header class="header">
    <nav>
        <div class="navtitle">
            <img class="logo" th:src="@{/images/logo.png}" alt="LOGO">
        </div>
        <ul class="top_menu">
            <li>
                <div sec:authorize="hasRole('USER')" class="log_list">
                    <span th:text="${member}" class="user-name"></span><span class="user-name1">님&nbsp; 환영합니다.</span>
                </div>
            </li>
            <li>
                <div sec:authorize="!isAuthenticated()" class="log_list">
                    <button type="button" class="navBtn" onclick="document.getElementById('id01').style.display='block';
                document.getElementById('keyword').style.zIndex='0';" style="width:auto;">로그인</button>
                </div>
            </li>
            <li>
                <div sec:authorize="isAuthenticated()" class="log_list">
                    <button type="button" class="navBtn2" onClick="location.href='/logout'">로그아웃</button>
                </div>
            </li>

        </ul>
    </nav>

    <div id="id01" class="modal">

        <form class="modal-content animate" th:action="@{/login_post}" method="post">
            <div class="img_container">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img th:src="@{/images/logo.png}" alt="Avatar" class="avatar">
            </div>

            <div class="login_container">
                <label for="username"><b>User name</b></label>
                <input type="text" name="username" id="username" placeholder="User Name" required>

                <label for="password"><b>Password</b></label>
                <input type="password" name="password" id="password" placeholder="Password" required>

                <button type="submit" class="log_btn">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember-me">
                    자동 로그인
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button style="border:0" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancel_btn">취소</button>
                <button style="border:0" type="button" onclick="location.href='/register'" class="register_btn">회원가입</button>
            </div>
        </form>

    </div>

</header>
<div class="main">
    <div class="img_box">
        <!--        <img class="logo" src="logo.png" />-->
        <video muted autoplay loop>
            <source src="디지털 집현전.mp4" type="video/mp4">
        </video>
    </div>

    <div class="search">
        <div class="input-bar">
            <input type="text" placeholder="검색어를 입력해주세요" autocomplete="off" id="keyword" style="z-index: 10;">
            <button class="dictate">
                <img class="btn_img" th:src="@{/images/mic.png}">
                <i class="ic-mike"></i>
                <svg width="1.25rem" height="1.25rem" viewBox="0 0 100 100">
                    <g stroke="#fff" stroke-width="15">
                        <path d="M20,20 20,80">
                            <animate attributeName="d" values="M20,40 20,60;M20,20 20,80;M20,40 20,60" dur="1s" repeatCount="indefinite" />
                        </path>
                        <path d="M50,10 50,90">
                            <animate attributeName="d" values="M50,10 50,90;M50,40 50,60;M50,10 50,90" dur="1s" repeatCount="indefinite" />
                        </path>
                        <path d="M80,20 80,80">
                            <animate attributeName="d" values="M80,40 80,60;M80,20 80,80;M80,40 80,60" dur="1s" repeatCount="indefinite" />
                        </path>
                    </g>
                </svg>
            </button>
            <form th:action="@{/jump/search}" method="get" id="searchForm">

                <input type="hidden" id="search_kw" name="search_kw">
                <button class="dictate" id="search_btn" type="submit" ><img class="btn_img" th:src="@{/images/search3.png}"></button>
            </form>
        </div>
    </div>

    <script th:src="@{speech.js}"></script>
</div>

<div class="footer" th:replace="~{footer :: footerFragment}"></div>

</body>
</html>